html {overflow-y: scroll; overflow-x: auto;}
body {margin: 0; padding: 0; font-family: 'arial'; font-size: 14px; line-height: 1.6; color: #2d2d2d; background: #fff;}

.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

div#container {width: 800px; margin: 0 auto; padding: 0 20px; background: #fff; border-radius: 6px;}

header {margin: 0 0 80px 0; padding: 0; /*border-top: 10px solid #41a3a4;*/}
header h1 {float: left; margin: 0; padding: 0 32px 1px 0; font-size: 16px; border-right: 1px solid #ccc;}
header h1 a {color: #666;}
header h1 a:hover {color: #333; text-decoration: none;}

footer {margin: 100px 0 0 0; padding: 4px 0 30px 0; font-size: 11px; border-top: 1px solid #ddd;}
footer ul {float: left; list-style: none; margin: 0; padding: 0;}
footer ul li {display: inline-block; padding: 0 6px 0 9px; line-height: 1; border-left: 1px solid #ddd;}
footer ul li:first-child {border-left: 0; padding-left: 0;}
footer p {float: right; margin: 0; padding: 0;}

a {color: #4183C4; text-decoration: none;}
a:hover {text-decoration: underline;}
h1, h2, h3, h4, h5 {margin: 20px 0 10px 0; font-weight: normal;}
h1, h2, h3 {margin-left: -14px;}  /* really helps to set headers/sections out visually */
h1 {font-size: 28px; line-height: 1.2em;}
h2 {font-size: 24px; border-bottom: 1px solid #e9e9e9;}
h3 {font-size: 18px;}
h4 {font-size: 16px; font-weight: bold;}
h5 {font-size: 14px; font-weight: bold;}
ul {margin: 15px 0; padding: 0 0 0 30px;}
ul ul {margin: 0;}
p {margin: 15px 0;}
code {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}
pre code {white-space: pre; margin: 0; padding: 0; background: none; border: none;}

/* theme switcher */
ul.themes {list-style: none; padding: 0 0 10px 0; margin: 0;}
ul.themes li {float: right; margin: 0 16px 0 0; padding-right: 15px; border-right: 1px solid #ccc;}
