pre { white-space: pre; background-color: #f8f8f8; border: 1px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
pre code {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
code {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}

code.lisp .function.known {color: #a93;}
code.lisp .function.known.special {color: #2a3;}
code.lisp .keyword {color: #7aa;}
code.lisp .keyword.known {color: #4bb;}
code.lisp .symbol {color: #75a;}
code.lisp .lambda-list {color: #966;}
code.lisp .number {color: #800;}
code.lisp .variable.known {color: #c3c;}
code.lisp .variable.global {color: #939;}
code.lisp .variable.constant {color: #229;}
code.lisp .nil {color: #f00;}

code.lisp .comment, code.lisp .comment *, code.lisp .comment .string {color: #aaa !important;}
code.lisp .string, code.lisp .string * {color: #088 !important;}
