/**
 * Inspired by highlight.js's "Tomorrow night" theme
 */
pre { white-space: pre; background-color: #1d1f21; border: 0px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
pre code.lisp {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
code.lisp {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}

code.lisp {color: #c5c8c6;}
code.lisp .function {color: #abc; color: #cba;}
code.lisp .function.known {color: #81a2be; color: #91b2ce;}
code.lisp .function.known.special {color: #ba7; font-weight: bold;}
code.lisp .keyword {color: #b299ab;}
code.lisp .keyword.known {color: #b294bb;}
code.lisp .symbol {color: #c9c;}
code.lisp .lambda-list {color: #9aa;}
code.lisp .number {color: #c76;}
code.lisp .variable.known {color: #9dd;}
code.lisp .variable.global {color: #aaa;}
code.lisp .variable.constant {color: #a77;}
code.lisp .nil {color: #de935f;}
code.lisp .list {}

code.lisp .comment, code.lisp .comment *, code.lisp .comment .string {color: #777 !important;}
code.lisp .string, code.lisp .string * {color: #b5bd88 !important;}
